
.wrapper_login_page
  width: 600px
  border: 1px solid black
  border-radius: 10px
  padding: 10px

  &__block_input,
  &__block_button_form
    display: flex
    justify-content: center
    align-items: center

  &__block_input
    text-align: center
    flex-direction: column
    margin: 0 auto 10px auto

  &__label_input
    margin-bottom: 5px

  &__input_field
    padding-left: 5px

  &__input_field::placeholder
    padding-left: 10px

  &__block_button_form
    width: 100px
    height: 30px
    margin: 20px auto

  &__button_form
    width: inherit
    height: inherit


